*{
    margin: 0;
    padding: 0;
    font-family:'Work Sans', sans-serif
}
header{
    background-color: antiquewhite;
    width: 100%;
}
.main-hader{
 display: flex;
 padding: 50px;
 justify-content: space-around;
}
.contend-text{
    font-size: 50px;
}
.hader-list ul{
    list-style: none;
    display: flex;
}
.contend-peragrph{
    color: #727272;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 200; 
}
.hader-list ul li{
margin-left: 40px;
}
.contend{
    color:  #131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 200;
}
.orimery{
    color: #FFF;
text-align: center;
height: 40px;
width: 120px;
border-radius:5px;
background-color: rgb(248, 157, 92);
border: none;
margin-top: 20px;
margin-bottom: 20px;
}
.contend-img img{
    width: 80%;
  margin-left: 9%;
}
/*------------------ haeder end------------------------*/
.all-quick-items{ 
     display: flex;
}
.all-photos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:15px;
    border-radius: 5px;
    padding: 20vh;
    padding-right: 5vh;
}
.all-quick-text{
  align-items: center;
  padding-top: 30%;
  margin-left: 0;
}
.qiick-h1{
    font-size: 50px;
}
span1{opacity: 40%;}
span2{color:rgb(255, 165, 0)}
/*--------------quick fautuer end-------------*/
/*steart facts*/
.facts-contend{
    text-align: left;
    margin-left: 5%;
}
.ccard{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.factes-card{
    border-radius: 8px;
   border: 1px solid #FF900E;
   width: 200.831px;
  height: 200.831px;
  margin-top: 30px;
text-align: center;
}
.factes-card img{
    padding-top: 30px;
}
.factes-card h1{
    font-size: 40px;
    color: #424242;
    font-family: Work Sans;
}
.factes-card p{
    font-family: Work Sans;
    color: #727272;
}
/*end facts*/


@media screen and  (max-width:576px) {
    .main-hader{
    flex-direction: column;
    }
    .hader-list ul{
        flex-direction: column;
        margin-top: 20px;
        padding-left: 200px;
    }
    .all-quick-items{ 
        flex-direction: column;
        padding: 10px;
   }
   .all-photos{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 5vh;
}
.all-quick-text{
    padding: 10px;
}
.ccard{
    flex-direction: column;
    margin: 8px;
}

}